.team {
  background-color: #e6e6e6 !important;
}
.about {
  font-size: 70px !important;
  font-weight: 600 !important;
}

.subheading {
  h3 {
    font-weight: 700 !important;
  }
}
.par-1 {
  font-weight: 500 !important;
}
